<div class="centered">
	<div class="devise">
		<h2>Sign up</h2>

		<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<%= f.error_notification %>

			<div class="form-inputs">
				<%= f.input :name, required: true, autofocus: true, :error_html => { :class => "form-error" } %>
				<br>
				<%= f.input :email, required: true, :error_html => { :class => "form-error" } %>
				<br>
				<%= f.input :password, required: true, label: "Password (Minimum 6 characters)", :error_html => { :class => "form-error" } %>
				<br>
				<%= f.input :password_confirmation, required: true, :error_html => { :class => "form-error" } %>
			</div>

			<div class="form-actions">
			<br>
				<%= f.button :submit, "Sign up" %>
			</div>

		<% end %>
		
		<br>
		<%= render "devise/shared/links" %>
	</div>
</div>